In [129]:
import pandas as pd
import numpy as np
import statistics as stat
import matplotlib.pyplot as plt
import seaborn as sb
import collections

In [130]:
quanraw = pd.read_excel('quan_raw.xlsx')
quanraw

,PARTIPID,AGE,YEARLEV,SEX,COLLEGE,LIVSIT,RESTYPE,BIRTORD,SIBNO,PARSTAT,...,FENERGY,FEEPROB,FECLEAR,FEGOOD,FECLOSE,FECONFI,FEMKEUP,FELOVED,FENWTHG,FECHEER
0,1.0,21,121.0,Male,CLA,Alone,"Dorm, Condo, Apartment",Youngest,2.0,Married,...,All of the Time,Often,All of the Time,All of the Time,All of the Time,All of the Time,All of the Time,All of the Time,All of the Time,All of the Time
1,2.0,20,121.0,Female,CLA,With Family,House,Eldest,0.0,Married,...,Some of the time,Some of the time,Some of the time,Some of the time,All of the Time,Some of the time,Some of the time,Often,Some of the time,Some of the time
2,3.0,19,123.0,Female,CLA,Alone,"Dorm, Condo, Apartment",Only Child,0.0,Married,...,Some of the time,Some of the time,Some of the time,Some of the time,Often,Some of the time,Often,All of the Time,Often,Often
3,4.0,20,122.0,Female,CLA,With Family,House,Eldest,1.0,Married,...,Rarely,Often,Some of the time,Some of the time,Some of the time,Some of the time,Often,Some of the time,Often,Rarely
4,5.0,20,121.0,Female,RVR-COB,With Family,Mixed,Middle,2.0,Married,...,Some of the time,Often,Often,Some of the time,Often,Some of the time,Often,Often,Often,Often
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,187.0,20,122.0,Male,RVR-COB,With Family,"Dorm, Condo, Apartment",Only Child,NaN,Married,...,Often,Rarely,Some of the time,Some of the time,Often,Often,All of the time,Often,Often,Often
187,188.0,21,120.0,Female,CLA,With Family,Mixed,Only Child,NaN,Separated,...,Some of the time,Some of the time,Some of the time,Some of the time,Some of the time,Some of the time,Some of the time,Often,Some of the time,Some of the time
188,189.0,20,122.0,Male,GCOE,With Roommates,"Dorm, Condo, Apartment",Eldest,1.0,Others,...,Some of the time,Some of the time,Often,Often,All of the time,All of the time,Often,All of the time,All of the time,All of the time
189,190.0,20,122.0,Male,CCS,With Family,House,Middle,3.0,Married,...,None of the time,Often,Some of the time,Often,All of the time,All of the time,All of the time,All of the time,All of the time,Some of the time
190,NaN,23,121.0,Male,CCS,With Family,House,Youngest,4.0,Separated,...,Rarely,Rarely,Rarely,All of the time,Often,Often,Often,Rarely,Often,Rarely

In [131]:
#Cleaning Data

quanraw.replace(to_replace="Middle ",value="Middle",inplace = True)
quanraw['SIBNO'].fillna(0,inplace = True)
quanraw.replace(to_replace="Php 131,484 - Php 219,140",value="Php 131,483 - Php 219,140",inplace = True)

quanraw.replace(to_replace="2-4 hours",value="2 - 4 hours",inplace = True)
quanraw.replace(to_replace="10-12 hours",value="10 - 12 hours",inplace = True)
quanraw.replace(to_replace="12-14 hours",value="12 - 14 hours",inplace = True)
quanraw.replace(to_replace="4-6 hours",value="4 - 6 hours",inplace = True)
quanraw.replace(to_replace="6-8 hours",value="6 - 8 hours",inplace = True)
quanraw.replace(to_replace="8-10 hours",value="8 - 10 hours",inplace = True)

quanraw.to_csv('quan_fin.csv', index = False)

In [132]:
#Replacing Values Based on Questionnaires

#For the Brief Family Relationship Scale until the Parent-Child Relationship Questionnaire
quanraw.replace(to_replace="Strongly Agree",value=0,inplace = True)
quanraw.replace(to_replace="Strongly Disagree",value=3,inplace = True)
quanraw.replace(to_replace="Agree",value=1,inplace = True)
quanraw.replace(to_replace="Disagree",value=2,inplace = True)

#For the Warwick-Edinburgh Mental Well-Being Scale
quanraw.replace(to_replace="None of the time",value=1,inplace = True)
quanraw.replace(to_replace="Rarely",value=2,inplace = True)
quanraw.replace(to_replace="Some of the time",value=3,inplace = True)
quanraw.replace(to_replace="Often",value=4,inplace = True)
quanraw.replace(to_replace="All of the Time",value=5,inplace = True)
quanraw.replace(to_replace="All of the time",value=5,inplace = True)

quanraw.to_csv('quan_fin.csv', index = False)

In [133]:
quanfin = pd.read_csv('quan_fin.csv')
quanfin

,PARTIPID,AGE,YEARLEV,SEX,COLLEGE,LIVSIT,RESTYPE,BIRTORD,SIBNO,PARSTAT,...,FENERGY,FEEPROB,FECLEAR,FEGOOD,FECLOSE,FECONFI,FEMKEUP,FELOVED,FENWTHG,FECHEER
0,1.0,21,121.0,Male,CLA,Alone,"Dorm, Condo, Apartment",Youngest,2.0,Married,...,5,4,5,5,5,5,5,5,5,5
1,2.0,20,121.0,Female,CLA,With Family,House,Eldest,0.0,Married,...,3,3,3,3,5,3,3,4,3,3
2,3.0,19,123.0,Female,CLA,Alone,"Dorm, Condo, Apartment",Only Child,0.0,Married,...,3,3,3,3,4,3,4,5,4,4
3,4.0,20,122.0,Female,CLA,With Family,House,Eldest,1.0,Married,...,2,4,3,3,3,3,4,3,4,2
4,5.0,20,121.0,Female,RVR-COB,With Family,Mixed,Middle,2.0,Married,...,3,4,4,3,4,3,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,187.0,20,122.0,Male,RVR-COB,With Family,"Dorm, Condo, Apartment",Only Child,0.0,Married,...,4,2,3,3,4,4,5,4,4,4
187,188.0,21,120.0,Female,CLA,With Family,Mixed,Only Child,0.0,Separated,...,3,3,3,3,3,3,3,4,3,3
188,189.0,20,122.0,Male,GCOE,With Roommates,"Dorm, Condo, Apartment",Eldest,1.0,Others,...,3,3,4,4,5,5,4,5,5,5
189,190.0,20,122.0,Male,CCS,With Family,House,Middle,3.0,Married,...,1,4,3,4,5,5,5,5,5,3
190,NaN,23,121.0,Male,CCS,With Family,House,Youngest,4.0,Separated,...,2,2,2,5,4,4,4,2,4,2

# Univariate Analysis (Frequency Tables, CrossTabs, etc.)

## Respondent's Profile

In [134]:
#Respondent's Profle
profile = pd.DataFrame(quanfin, columns = ['AGE',
                                           'SEX',
                                           'COLLEGE ',
                                           'LIVSIT',
                                           'RESTYPE', 
                                           'ESTHOUR'])
profile

,AGE,SEX,COLLEGE,LIVSIT,RESTYPE,ESTHOUR
0,21,Male,CLA,Alone,"Dorm, Condo, Apartment",8 - 10 hours
1,20,Female,CLA,With Family,House,14 hours or more
2,19,Female,CLA,Alone,"Dorm, Condo, Apartment",14 hours or more
3,20,Female,CLA,With Family,House,8 - 10 hours
4,20,Female,RVR-COB,With Family,Mixed,8 - 10 hours
...,...,...,...,...,...,...
186,20,Male,RVR-COB,With Family,"Dorm, Condo, Apartment",6 - 8 hours
187,21,Female,CLA,With Family,Mixed,12 - 14 hours
188,20,Male,GCOE,With Roommates,"Dorm, Condo, Apartment",6 - 8 hours
189,20,Male,CCS,With Family,House,4 - 6 hours
190,23,Male,CCS,With Family,House,4 - 6 hours

In [135]:
age = pd.crosstab(index = profile['AGE'], columns = 'count')
print(age)
age_mean = quanfin['AGE'].mean()
print()
print(age_mean)
age_stdev = stat.stdev(quanfin['AGE'])
print()
print(age_stdev)
profile['AGE'].value_counts(normalize = True) * 100

col_0  count
AGE
18        18
19        32
20        53
21        52
22        26
23         8
24         2

20.356020942408378

1.3373000606410987

20    27.748691
21    27.225131
19    16.753927
22    13.612565
18     9.424084
23     4.188482
24     1.047120
Name: AGE, dtype: float64

In [136]:
sex = pd.crosstab(index = profile['SEX'], columns = 'count')
print(sex)
profile['SEX'].value_counts(normalize = True) * 100

col_0   count
SEX
Female    108
Male       83

Female    56.544503
Male      43.455497
Name: SEX, dtype: float64

In [137]:
college = pd.crosstab(index = profile['COLLEGE '], columns = 'count')
print(college)
profile['COLLEGE '].value_counts(normalize = True) * 100

col_0     count
COLLEGE
BAGCED        7
CCS          10
CLA         112
COS          27
GCOE         13
RVR-COB      16
SOE           6

CLA        58.638743
COS        14.136126
RVR-COB     8.376963
GCOE        6.806283
CCS         5.235602
BAGCED      3.664921
SOE         3.141361
Name: COLLEGE , dtype: float64

In [138]:
livsit = pd.crosstab(index = profile['LIVSIT'], columns = 'count')
print(livsit)
profile['LIVSIT'].value_counts(normalize = True) * 100

col_0           count
LIVSIT
Alone              30
Others              4
With Family       139
With Roommates     18

With Family       72.774869
Alone             15.706806
With Roommates     9.424084
Others             2.094241
Name: LIVSIT, dtype: float64

In [139]:
restype = pd.crosstab(index = profile['RESTYPE'], columns = 'count')
print(restype)
profile['RESTYPE'].value_counts(normalize = True) * 100

col_0                   count
RESTYPE
Dorm, Condo, Apartment     73
House                     110
Mixed                       8

House                     57.591623
Dorm, Condo, Apartment    38.219895
Mixed                      4.188482
Name: RESTYPE, dtype: float64

In [140]:
esthour = pd.crosstab(index = profile['ESTHOUR'], columns = 'count')
print(esthour)
profile['ESTHOUR'].value_counts(normalize = True) * 100

col_0              count
ESTHOUR
10 - 12 hours         19
12 - 14 hours         11
14 hours or more      18
2 - 4 hours           16
4 - 6 hours           44
6 - 8 hours           47
8 - 10 hours          30
Less than 2 hours      6

6 - 8 hours          24.607330
4 - 6 hours          23.036649
8 - 10 hours         15.706806
10 - 12 hours         9.947644
14 hours or more      9.424084
2 - 4 hours           8.376963
12 - 14 hours         5.759162
Less than 2 hours     3.141361
Name: ESTHOUR, dtype: float64

### Respondent's Family Profile

In [141]:
fam_profile = pd.DataFrame(quanfin, columns = 
                           ['BIRTORD','SIBNO','PARSTAT','NUIMFAM',
                            'HOUSEPOP','COMONIN','AGEGAP:DAD','AGEGAP:MOM',
                            'AGEGAP:ELDEST','AGEGAP:MIDDLE','AGEGAP:YOUNGEST','AGEGAP:OTHER',
                            'RATIO:M','RATIO:F'])
fam_profile

,BIRTORD,SIBNO,PARSTAT,NUIMFAM,HOUSEPOP,COMONIN,AGEGAP:DAD,AGEGAP:MOM,AGEGAP:ELDEST,AGEGAP:MIDDLE,AGEGAP:YOUNGEST,AGEGAP:OTHER,RATIO:M,RATIO:F
0,Youngest,2.0,Married,2,2,"Php 219,140 or more",33.0,32.0,6.0,2.0,NaN,NaN,3.0,2.0
1,Eldest,0.0,Married,4,6 or more,"Php 43,828 - Php 76,669",20.0,20.0,NaN,NaN,3.0,NaN,2.0,4.0
2,Only Child,0.0,Married,2,0 (Lives Alone),"Php 219,140 or more",31.0,19.0,NaN,NaN,NaN,NaN,3.0,1.0
3,Eldest,1.0,Married,3,3,"Php 76,669 - Php 131,484",31.0,30.0,NaN,NaN,2.0,NaN,2.0,2.0
4,Middle,2.0,Married,4,6 or more,"Php 219,140 or more",33.0,34.0,NaN,NaN,2.0,NaN,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,Only Child,0.0,Married,2,0 (Lives Alone),"Php 219,140 or more",21.0,25.0,NaN,NaN,NaN,NaN,2.0,1.0
187,Only Child,0.0,Separated,1,3,"Php 76,669 - Php 131,484",NaN,32.0,NaN,NaN,5.0,NaN,NaN,2.0
188,Eldest,1.0,Others,2,2,"Php 131,483 - Php 219,140",24.0,23.0,5.0,2.0,1.0,NaN,1.0,2.0
189,Middle,3.0,Married,5,6 or more,"Php 219,140 or more",40.0,37.0,12.0,11.0,NaN,3.0,4.0,2.0
190,Youngest,4.0,Separated,3,0 (Lives Alone),"Php 43,828 - Php 76,669",32.0,32.0,NaN,NaN,NaN,NaN,2.0,1.0

In [142]:
birtord = pd.crosstab(index = fam_profile['BIRTORD'], columns = 'count')
print(birtord)
fam_profile['BIRTORD'].value_counts(normalize = True) * 100

col_0       count
BIRTORD
Eldest         65
Middle         32
Only Child     28
Others          1
Youngest       65

Youngest      34.031414
Eldest        34.031414
Middle        16.753927
Only Child    14.659686
Others         0.523560
Name: BIRTORD, dtype: float64

In [143]:
sibno = pd.crosstab(index = fam_profile['SIBNO'], columns = 'count')
print(sibno)
sibno_mean = quanfin['SIBNO'].mean()
print()
print(sibno_mean)
sibno_stdev = stat.stdev(quanfin['SIBNO'])
print()
print(sibno_stdev)
fam_profile['SIBNO'].value_counts(normalize = True) * 100

col_0  count
SIBNO
0.0       29
1.0       49
2.0       67
3.0       32
4.0        9
5.0        4
7.0        1

1.7905759162303665

1.2260828439624398

2.0    35.078534
1.0    25.654450
3.0    16.753927
0.0    15.183246
4.0     4.712042
5.0     2.094241
7.0     0.523560
Name: SIBNO, dtype: float64

In [144]:
parstat = pd.crosstab(index = fam_profile['PARSTAT'], columns = 'count')
print(parstat)
fam_profile['PARSTAT'].value_counts(normalize = True) * 100

col_0      count
PARSTAT
Married      151
Others        11
Separated     24
Single         5

Married      79.057592
Separated    12.565445
Others        5.759162
Single        2.617801
Name: PARSTAT, dtype: float64

In [145]:
nuimfam = pd.crosstab(index = fam_profile['NUIMFAM'], columns = 'count')
print(nuimfam)
fam_profile['NUIMFAM'].value_counts(normalize = True) * 100

col_0      count
NUIMFAM
1              5
2             28
3             48
4             63
5             31
6 or more     16

4            32.984293
3            25.130890
5            16.230366
2            14.659686
6 or more     8.376963
1             2.617801
Name: NUIMFAM, dtype: float64

In [146]:
housepop = pd.crosstab(index = fam_profile['HOUSEPOP'], columns = 'count')
print(housepop)
fam_profile['HOUSEPOP'].value_counts(normalize = True) * 100

col_0            count
HOUSEPOP
0 (Lives Alone)     27
1                   13
2                   20
3                   28
4                   32
5                   30
6 or more           41

6 or more          21.465969
4                  16.753927
5                  15.706806
3                  14.659686
0 (Lives Alone)    14.136126
2                  10.471204
1                   6.806283
Name: HOUSEPOP, dtype: float64

In [147]:
comonin = pd.crosstab(index = fam_profile['COMONIN'], columns = 'count')
print(comonin)
fam_profile['COMONIN'].value_counts(normalize = True) * 100

col_0                      count
COMONIN
Below Php 10,957               1
Php 10,957 - Php 21,914       11
Php 131,483 - Php 219,140     38
Php 21,914 - Php 43,828       11
Php 219,140 or more           67
Php 43,828 - Php 76,669       22
Php 76,669 - Php 131,484      40

Php 219,140 or more          35.263158
Php 76,669 - Php 131,484     21.052632
Php 131,483 - Php 219,140    20.000000
Php 43,828 - Php 76,669      11.578947
Php 21,914 - Php 43,828       5.789474
Php 10,957 - Php 21,914       5.789474
Below Php 10,957              0.526316
Name: COMONIN, dtype: float64

In [148]:
agegap_dad = []
for i in range(0,190):
    agdad = quanfin.loc[i,'AGEGAP:DAD']
    if agdad >= 18:
        agegap_dad.append(agdad)
        
freq_agdad = collections.Counter(agegap_dad)
print(dict(freq_agdad))

agegap_dad_mean = stat.mean(quanfin['AGEGAP:DAD'].dropna())
print()
print(agegap_dad_mean)

agegap_dad_stdev = stat.stdev(quanfin['AGEGAP:DAD'].dropna())
print()
print(agegap_dad_stdev)

{33.0: 8, 20.0: 2, 31.0: 12, 40.0: 12, 30.0: 11, 24.0: 10, 34.0: 15, 41.0: 8, 35.0: 11, 42.0: 3, 28.0: 11, 32.0: 8, 36.0: 8, 23.0: 7, 59.0: 2, 39.0: 5, 29.0: 8, 26.0: 6, 44.0: 3, 25.0: 4, 38.0: 6, 21.0: 2, 37.0: 3, 51.0: 1, 27.0: 8, 45.0: 1, 46.0: 1, 54.0: 1, 52.0: 1, 50.0: 1}

32.650273224043715

7.634370475834998

In [149]:
agegap_dad = []
for i in range(0,190):
    agdad = quanfin.loc[i,'AGEGAP:DAD']
    if agdad < 18:
        continue
    elif agdad <= 25:
        agegap_dad.append("18-25")
    elif agdad <= 34:
        agegap_dad.append("26-34")
    elif agdad <= 42:
        agegap_dad.append("35-42")
    elif agdad <= 51:
        agegap_dad.append("43-51")
    elif agdad <= 60:
        agegap_dad.append("52-60")
    else:
        agegap_dad.append("60 and above")

freq_agdad = collections.Counter(agegap_dad)
print(dict(freq_agdad))

{'26-34': 87, '18-25': 25, '35-42': 56, '52-60': 4, '60 and above': 8, '43-51': 7}

In [150]:
agegap_mom = []
for i in range(0,190):
    agmom = quanfin.loc[i,'AGEGAP:MOM']
    if agmom >= 18:
        agegap_mom.append(agmom)
        
freq_agmom = collections.Counter(agegap_mom)
print(dict(freq_agmom))

agegap_mom_mean = stat.mean(quanfin['AGEGAP:MOM'].dropna())
print()
print(agegap_mom_mean)

agegap_mom_stdev = stat.stdev(quanfin['AGEGAP:MOM'].dropna())
print()
print(agegap_mom_stdev)

{32.0: 16, 20.0: 2, 19.0: 2, 30.0: 19, 34.0: 8, 38.0: 3, 33.0: 18, 25.0: 14, 39.0: 5, 40.0: 7, 26.0: 7, 28.0: 10, 35.0: 5, 36.0: 5, 23.0: 12, 42.0: 2, 27.0: 11, 24.0: 7, 29.0: 12, 22.0: 1, 31.0: 7, 18.0: 1, 21.0: 3, 44.0: 1, 37.0: 2, 52.0: 1}

29.875

5.810356779203782

In [151]:
agegap_mom = []
for i in range(0,190):
    agmom = quanfin.loc[i,'AGEGAP:MOM']
    if agmom < 18:
        continue
    elif agmom <= 25:
        agegap_mom.append("18-25")
    elif agmom <= 34:
        agegap_mom.append("26-34")
    elif agmom <= 42:
        agegap_mom.append("35-42")
    elif agmom <= 51:
        agegap_mom.append("43-51")
    elif agmom <= 60:
        agegap_mom.append("52-60")
    else:
        agegap_mom.append("60 and above")

freq_agmom = collections.Counter(agegap_mom)
print(dict(freq_agmom))

{'26-34': 108, '18-25': 42, '35-42': 29, '60 and above': 7, '43-51': 1, '52-60': 1}

In [152]:
agegap_eldest = []
for i in range(0,190):
    ageldest = quanfin.loc[i,'AGEGAP:ELDEST']
    if ageldest > 0:
        agegap_eldest.append(ageldest)
        
freq_ageld = collections.Counter(agegap_eldest)
print(dict(freq_ageld))

agegap_eldest_mean = stat.mean(quanfin['AGEGAP:ELDEST'].dropna())
print()
print(agegap_eldest_mean)

agegap_eldest_stdev = stat.stdev(quanfin['AGEGAP:ELDEST'].dropna())
print()
print(agegap_eldest_stdev)

{6.0: 9, 13.0: 2, 8.0: 10, 18.0: 3, 1.0: 12, 3.0: 10, 4.0: 7, 30.0: 1, 5.0: 8, 11.0: 1, 2.0: 7, 7.0: 3, 17.0: 2, 21.0: 1, 15.0: 2, 9.0: 5, 26.0: 1, 12.0: 6, 38.0: 1, 10.0: 2, 20.0: 2, 16.0: 1, 19.0: 1, 14.0: 1}

7.908163265306122

6.75504658189602

In [153]:
agegap_eldest = []
for i in range(0,190):
    ageld = quanfin.loc[i,'AGEGAP:ELDEST']
    if ageld < 0:
        continue
    elif ageld <= 6:
        agegap_eldest.append("1-6")
    elif ageld <= 12:
        agegap_eldest.append("7-12")
    elif ageld <= 18:
        agegap_eldest.append("13-18")
    elif ageld <= 24:
        agegap_eldest.append("19-24")
    elif ageld <= 30:
        agegap_eldest.append("25-30")
    else:
        agegap_eldest.append("30 and above")

freq_ageld = collections.Counter(agegap_eldest)
print(dict(freq_ageld))

{'1-6': 53, '30 and above': 93, '13-18': 11, '7-12': 27, '25-30': 2, '19-24': 4}

In [154]:
agegap_middle = []
for i in range(0,190):
    agemiddle = quanfin.loc[i,'AGEGAP:MIDDLE']
    if agemiddle > 0:
        agegap_middle.append(agemiddle)
        
freq_agmid = collections.Counter(agegap_middle)
print(dict(freq_agmid))

agegap_middle_mean = stat.mean(quanfin['AGEGAP:MIDDLE'].dropna())
print()
print(agegap_middle_mean)

agegap_middle_stdev = stat.stdev(quanfin['AGEGAP:MIDDLE'].dropna())
print()
print(agegap_middle_stdev)

{2.0: 21, 11.0: 4, 1.0: 7, 4.0: 14, 5.0: 8, 3.0: 9, 16.0: 2, 24.0: 2, 9.0: 6, 15.0: 2, 10.0: 4, 6.0: 5, 18.0: 1, 8.0: 2, 14.0: 1, 12.0: 1, 7.0: 1}

5.681318681318682

4.9032395660173735

In [155]:
agegap_middle = []
for i in range(0,190):
    agmid = quanfin.loc[i,'AGEGAP:MIDDLE']
    if agmid < 0:
        continue
    elif agmid <= 6:
        agegap_middle.append("1-6")
    elif agmid <= 12:
        agegap_middle.append("7-12")
    elif agmid <= 18:
        agegap_middle.append("13-18")
    elif agmid <= 24:
        agegap_middle.append("19-24")
    elif agmid <= 30:
        agegap_middle.append("25-30")
    else:
        agegap_middle.append("30 and above")

freq_agmid = collections.Counter(agegap_middle)
print(dict(freq_agmid))

{'1-6': 65, '30 and above': 99, '7-12': 18, '13-18': 6, '19-24': 2}

In [156]:
agegap_youngest = []
for i in range(0,190):
    ageyoung = quanfin.loc[i,'AGEGAP:YOUNGEST']
    if ageyoung > 0:
        agegap_youngest.append(ageyoung)
        
freq_ageyoung = collections.Counter(agegap_youngest)
print(dict(freq_ageyoung))

agegap_youngest_mean = stat.mean(quanfin['AGEGAP:YOUNGEST'].dropna())
print()
print(agegap_youngest_mean)

agegap_youngest_stdev = stat.stdev(quanfin['AGEGAP:YOUNGEST'].dropna())
print()
print(agegap_youngest_stdev)

{3.0: 6, 2.0: 15, 1.0: 9, 4.0: 9, 6.0: 10, 7.0: 7, 8.0: 11, 10.0: 2, 9.0: 3, 11.0: 2, 15.0: 2, 5.0: 11, 14.0: 3, 19.0: 2, 12.0: 8, 17.0: 1, 18.0: 2}

6.533980582524272

4.521876094209567

In [157]:
agegap_youngest = []
for i in range(0,190):
    agyoung = quanfin.loc[i,'AGEGAP:YOUNGEST']
    if agyoung < 0:
        continue
    elif agyoung <= 6:
        agegap_youngest.append("1-6")
    elif agyoung <= 12:
        agegap_youngest.append("7-12")
    elif agyoung <= 18:
        agegap_youngest.append("13-18")
    elif agyoung <= 24:
        agegap_youngest.append("19-24")
    elif agyoung <= 30:
        agegap_youngest.append("25-30")
    else:
        agegap_youngest.append("30 and above")

freq_agyoung = collections.Counter(agegap_youngest)
print(dict(freq_agyoung))

{'30 and above': 87, '1-6': 60, '7-12': 33, '13-18': 8, '19-24': 2}

In [158]:
agegap_others = []
for i in range(0,190):
    agother = quanfin.loc[i,'AGEGAP:OTHER']
    if agother > 0:
        agegap_others.append(agother)
        
freq_agother = collections.Counter(agegap_others)
print(dict(freq_ageyoung))

agegap_others_mean = stat.mean(quanfin['AGEGAP:OTHER'].dropna())
print()
print(agegap_others_mean)

agegap_others_stdev = stat.stdev(quanfin['AGEGAP:OTHER'].dropna())
print()
print(agegap_others_stdev)

{3.0: 6, 2.0: 15, 1.0: 9, 4.0: 9, 6.0: 10, 7.0: 7, 8.0: 11, 10.0: 2, 9.0: 3, 11.0: 2, 15.0: 2, 5.0: 11, 14.0: 3, 19.0: 2, 12.0: 8, 17.0: 1, 18.0: 2}

10.0

7.507571935295483

In [159]:
agegap_others = []
for i in range(0,190):
    agothers = quanfin.loc[i,'AGEGAP:OTHER']
    if agothers < 0:
        continue
    elif agothers <= 6:
        agegap_others.append("1-6")
    elif agothers <= 12:
        agegap_others.append("7-12")
    elif agothers <= 18:
        agegap_others.append("13-18")
    elif agothers <= 24:
        agegap_others.append("19-24")
    elif agothers <= 30:
        agegap_others.append("25-30")
    else:
        agegap_youngest.append("30 and above")

freq_agothers = collections.Counter(agegap_others)
print(dict(freq_agothers))

{'1-6': 11, '13-18': 4, '19-24': 2, '7-12': 5}

In [160]:
ratio_m = pd.crosstab(index = fam_profile['RATIO:M'].dropna(), columns = 'count')
print(ratio_m)

ratio_m_mean = stat.mean(quanfin['RATIO:M'].dropna())
print()
print(ratio_m_mean)

ratio_m_stdev = stat.stdev(quanfin['RATIO:M'].dropna())
print()
print(ratio_m_stdev)
fam_profile['RATIO:M'].value_counts(normalize = True) * 100

col_0    count
RATIO:M
1.0         40
2.0         84
3.0         43
4.0         16
5.0          2
6.0          1
7.0          1

2.267379679144385

1.0176692114267376

2.0    44.919786
3.0    22.994652
1.0    21.390374
4.0     8.556150
5.0     1.069519
7.0     0.534759
6.0     0.534759
Name: RATIO:M, dtype: float64

In [161]:
ratio_f = pd.crosstab(index = fam_profile['RATIO:F'].dropna(), columns = 'count')
print(ratio_f)

ratio_f_mean = stat.mean(quanfin['RATIO:F'].dropna())
print()
print(ratio_f_mean)

ratio_f_stdev = stat.stdev(quanfin['RATIO:F'].dropna())
print()
print(ratio_f_stdev)
fam_profile['RATIO:F'].value_counts(normalize = True) * 100

col_0    count
RATIO:F
1.0         48
2.0         76
3.0         45
4.0         14
5.0          4
6.0          1

2.2180851063829787

1.0134351775167127

2.0    40.425532
1.0    25.531915
3.0    23.936170
4.0     7.446809
5.0     2.127660
6.0     0.531915
Name: RATIO:F, dtype: float64

## Brief Family Relationship Scale

In [162]:
brieffam = pd.DataFrame(quanfin, columns = ['HELPSUP','ARGUEM','TIMETOG','OPENCON','MADEO','WRKHRD','TOGTHR','PERPROB','TEMPER','PUTFOWN','SUPPORT','VIOLENT','PROUD','ALONG','BEGDISC','RVOICE'])
brieffam

,HELPSUP,ARGUEM,TIMETOG,OPENCON,MADEO,WRKHRD,TOGTHR,PERPROB,TEMPER,PUTFOWN,SUPPORT,VIOLENT,PROUD,ALONG,BEGDISC,RVOICE
0,2,2,1,2,2,2,1,2,1,2,1,2,0,1,1,1
1,0,1,1,0,2,1,0,0,0,1,0,1,0,0,1,1
2,1,1,2,2,1,2,1,0,0,3,1,3,1,1,1,2
3,1,1,2,1,2,1,2,2,1,2,1,2,1,1,2,1
4,1,1,1,2,2,1,1,1,1,2,1,1,1,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,1,0,2,2,2,1,1,2,1,2,1,2,1,1,1,1
187,0,2,1,1,3,1,1,1,2,2,0,2,0,0,1,1
188,0,1,0,0,2,0,0,0,2,3,0,3,0,0,0,2
189,0,1,0,0,1,0,0,2,1,2,0,2,0,1,2,1
190,0,2,1,2,2,0,0,1,2,3,1,3,0,0,0,2

### Frequency per Question

In [163]:
helpsup = pd.crosstab(index = brieffam['HELPSUP'], columns = 'count')
arguem = pd.crosstab(index = brieffam['ARGUEM'], columns = 'count')
timetog = pd.crosstab(index = brieffam['TIMETOG'], columns = 'count')
opencon = pd.crosstab(index = brieffam['OPENCON'], columns = 'count')
madeo = pd.crosstab(index = brieffam['MADEO'], columns = 'count')
wrkhrd = pd.crosstab(index = brieffam['WRKHRD'], columns = 'count')
togthr = pd.crosstab(index = brieffam['TOGTHR'], columns = 'count')
perprob = pd.crosstab(index = brieffam['PERPROB'], columns = 'count')
temper = pd.crosstab(index = brieffam['TEMPER'], columns = 'count')
putdown = pd.crosstab(index = brieffam['PUTFOWN'], columns = 'count')
support = pd.crosstab(index = brieffam['SUPPORT'], columns = 'count')
violent = pd.crosstab(index = brieffam['VIOLENT'], columns = 'count')
proud = pd.crosstab(index = brieffam['PROUD'], columns = 'count')
along = pd.crosstab(index = brieffam['ALONG'], columns = 'count')
begdisc = pd.crosstab(index = brieffam['BEGDISC'], columns = 'count')
rvoice = pd.crosstab(index = brieffam['RVOICE'], columns = 'count')

### Mean and Standard Deviation per Question

In [164]:
helpsup_mean = stat.mean(brieffam['HELPSUP'].dropna())
arguem_mean = stat.mean(brieffam['ARGUEM'].dropna())
timetog_mean = stat.mean(brieffam['TIMETOG'].dropna())
opencon_mean = stat.mean(brieffam['OPENCON'].dropna())
madeo_mean = stat.mean(brieffam['MADEO'].dropna())
wrkhrd_mean = stat.mean(brieffam['WRKHRD'].dropna())
togthr_mean = stat.mean(brieffam['TOGTHR'].dropna())
perprob_mean = stat.mean(brieffam['PERPROB'].dropna())
temper_mean = stat.mean(brieffam['TEMPER'].dropna())
putdown_mean = stat.mean(brieffam['PUTFOWN'].dropna())
support_mean = stat.mean(brieffam['SUPPORT'].dropna())
violent_mean = stat.mean(brieffam['VIOLENT'].dropna())
proud_mean = stat.mean(brieffam['PROUD'].dropna())
along_mean = stat.mean(brieffam['ALONG'].dropna())
begdisc_mean = stat.mean(brieffam['BEGDISC'].dropna())
rvoice_mean = stat.mean(brieffam['RVOICE'].dropna())

print("Mean of HELPSUP:", helpsup_mean)
print("Mean of ARGUEM:", arguem_mean)
print("Mean of TIMETOG:", timetog_mean)
print("Mean of OPENCON:", opencon_mean)
print("Mean of MADEO:", madeo_mean)
print("Mean of WRKHRD:", wrkhrd_mean)
print("Mean of TOGTHR:", togthr_mean)
print("Mean of PERPROB:", perprob_mean)
print("Mean of TEMPER:", temper_mean)
print("Mean of PUTDOWN:", putdown_mean)
print("Mean of SUPPORT:", support_mean)
print("Mean of VIOLENT:", violent_mean)
print("Mean of PROUD:", proud_mean)
print("Mean of ALONG:", along_mean)
print("Mean of BEGSIC:", along_mean)
print("Mean of RVOICE:", rvoice_mean)

Mean of HELPSUP: 0.675392670157068
Mean of ARGUEM: 1.3089005235602094
Mean of TIMETOG: 1.3926701570680629
Mean of OPENCON: 1.4240837696335078
Mean of MADEO: 1.963350785340314
Mean of WRKHRD: 0.8900523560209425
Mean of TOGTHR: 0.8691099476439791
Mean of PERPROB: 1.1884816753926701
Mean of TEMPER: 1.3455497382198953
Mean of PUTDOWN: 2.1727748691099475
Mean of SUPPORT: 0.8167539267015707
Mean of VIOLENT: 2.2408376963350785
Mean of PROUD: 0.675392670157068
Mean of ALONG: 0.9057591623036649
Mean of BEGSIC: 0.9057591623036649
Mean of RVOICE: 1.057591623036649

### Interpretation

In [165]:
brieffam_interpretation = [helpsup_mean, arguem_mean, timetog_mean, opencon_mean, madeo_mean,
                           wrkhrd_mean, togthr_mean,perprob_mean, temper_mean, putdown_mean,
                           support_mean, violent_mean, proud_mean, along_mean, along_mean, rvoice_mean]

brieffam_score = []
for i in brieffam_interpretation:
    if i < 1:
        brieffam_score.append("Low")
    elif i <2: 
        brieffam_score.append("Moderate")
    else:
        brieffam_score.append("High")
print(brieffam_score)

['Low', 'Moderate', 'Moderate', 'Moderate', 'Moderate', 'Low', 'Low', 'Moderate', 'Moderate', 'High', 'Low', 'High', 'Low', 'Low', 'Low', 'Moderate']

In [166]:
helpsup_sd = stat.stdev(brieffam['HELPSUP'].dropna())
arguem_sd = stat.stdev(brieffam['ARGUEM'].dropna())
timetog_sd = stat.stdev(brieffam['TIMETOG'].dropna())
opencon_sd = stat.stdev(brieffam['OPENCON'].dropna())
madeo_sd = stat.stdev(brieffam['MADEO'].dropna())
wrkhrd_sd = stat.stdev(brieffam['WRKHRD'].dropna())
togthr_sd = stat.stdev(brieffam['TOGTHR'].dropna())
perprob_sd = stat.stdev(brieffam['PERPROB'].dropna())
temper_sd = stat.stdev(brieffam['TEMPER'].dropna())
putdown_sd = stat.stdev(brieffam['PUTFOWN'].dropna())
support_sd = stat.stdev(brieffam['SUPPORT'].dropna())
violent_sd = stat.stdev(brieffam['VIOLENT'].dropna())
proud_sd = stat.stdev(brieffam['PROUD'].dropna())
along_sd = stat.stdev(brieffam['ALONG'].dropna())
begdisc_sd = stat.stdev(brieffam['BEGDISC'].dropna())
rvoice_sd = stat.stdev(brieffam['RVOICE'].dropna())

print("SD of HELPSUP:", helpsup_sd)
print("SD of ARGUEM:", arguem_sd)
print("SD of TIMETOG:", timetog_sd)
print("SD of OPENCON:", opencon_sd)
print("SD of MADEO:", madeo_sd)
print("SD of WRKHRD:", wrkhrd_sd)
print("SD of TOGTHR:", togthr_sd)
print("SD of PERPROB:", perprob_sd)
print("SD of TEMPER:", temper_sd)
print("SD of PUTDOWN:", putdown_sd)
print("SD of SUPPORT:", support_sd)
print("SD of VIOLENT:", violent_sd)
print("SD of PROUD:", proud_sd)
print("SD of ALONG:", along_sd)
print("SD of BEGSIC:", begdisc_sd)
print("SD of RVOICE:", rvoice_sd)

SD of HELPSUP: 0.5976900514733378
SD of ARGUEM: 0.7635611481043685
SD of TIMETOG: 0.799834648108744
SD of OPENCON: 0.8099682081470069
SD of MADEO: 0.7135657513958819
SD of WRKHRD: 0.6516824358876184
SD of TOGTHR: 0.7023559926984826
SD of PERPROB: 0.8310255543789629
SD of TEMPER: 0.8620468825860035
SD of PUTDOWN: 0.6931940919030721
SD of SUPPORT: 0.6348907383601942
SD of VIOLENT: 0.8612153773304647
SD of PROUD: 0.6402069794820809
SD of ALONG: 0.6419692766933959
SD of BEGSIC: 0.8515947143176994
SD of RVOICE: 0.7621523958210542

### Cohesion Category

In [236]:
cohesion = pd.DataFrame(quanfin, columns = ['HELPSUP','TIMETOG','WRKHRD','TOGTHR','VIOLENT','ALONG','SUPPORT','PROUD'])
cohesion

     HELPSUP  TIMETOG  WRKHRD  TOGTHR  VIOLENT  ALONG  SUPPORT  PROUD
0          2        1       2       1        2      1        1      0
1          0        1       1       0        1      0        0      0
2          1        2       2       1        3      1        1      1
3          1        2       1       2        2      1        1      1
4          1        1       1       1        1      1        1      1
..       ...      ...     ...     ...      ...    ...      ...    ...
186        1        2       1       1        2      1        1      1
187        0        1       1       1        2      0        0      0
188        0        0       0       0        3      0        0      0
189        0        0       0       0        2      1        0      0
190        0        1       0       0        3      0        1      0

[191 rows x 8 columns]

In [168]:
sum_cohesion = cohesion.sum(axis=1)
sum_cohesion_rate = collections.Counter(sum_cohesion)
print(dict(sum_cohesion_rate))

sum_cohesion_mean = stat.mean(sum_cohesion)
print()
print("Cohesion Score Mean is ", sum_cohesion_mean)

sum_cohesion_stdev = stat.stdev(sum_cohesion)
print()
print("Cohesion Score SD is ", sum_cohesion_stdev)

{10: 24, 3: 12, 12: 14, 11: 17, 8: 23, 13: 7, 9: 26, 4: 14, 6: 12, 7: 16, 5: 14, 15: 5, 14: 4, 2: 1, 17: 2}

Cohesion Score Mean is  8.465968586387435

Cohesion Score SD is  3.1900575772823307

In [169]:
cohesion_rate = []
for i in sum_cohesion:
    if i < 7:
        cohesion_rate.append("Most Cohesive")
    elif i <= 14:
        cohesion_rate.append("Moderate")
    else:
        cohesion_rate.append("Least Cohesive")
        
freq_cohesion_rate = collections.Counter(cohesion_rate)
print(dict(freq_cohesion_rate))

{'Moderate': 131, 'Most Cohesive': 53, 'Least Cohesive': 7}

### Expressiveness Category

In [170]:
expression = pd.DataFrame(quanfin, columns = ['OPENCON','PERPROB','BEGDISC'])

In [171]:
sum_expression = expression.sum(axis=1)
sum_expression_rate = collections.Counter(sum_expression)
print(dict(sum_expression_rate))

sum_expression_mean = stat.mean(sum_expression)
print()
print("Expressiveness Score Mean is ", sum_expression_mean)

sum_expression_stdev = stat.stdev(sum_expression)
print()
print("Expressiveness Score SD is ", sum_expression_stdev)

{5: 37, 1: 8, 3: 36, 4: 30, 6: 22, 2: 26, 7: 10, 0: 12, 8: 7, 9: 3}

Expressiveness Score Mean is  3.968586387434555

Expressiveness Score SD is  2.0593963325062123

In [172]:
expression_rate = []
for i in sum_expression:
    if i < 3:
        expression_rate.append("Most Expressive")
    elif i <= 6:
        expression_rate.append("Moderate")
    else:
        expression_rate.append("Least Expressive")
        
freq_expression_rate = collections.Counter(expression_rate)
print(dict(freq_expression_rate))

{'Moderate': 125, 'Most Expressive': 46, 'Least Expressive': 20}

### Conflict Category

In [173]:
conflict = pd.DataFrame(quanfin, columns = ['ARGUEM','MADEO','TEMPER','PUTFOWN','RVOICE'])

In [174]:
sum_conflict = conflict.sum(axis=1)
sum_conflict_rate = collections.Counter(sum_conflict)
print(dict(sum_conflict_rate))

sum_conflict_mean = stat.mean(sum_conflict)
print()
print("Conflict Score Mean is ", sum_conflict_mean)

sum_conflict_stdev = stat.stdev(sum_conflict)
print()
print("Conflict Score SD is ", sum_conflict_stdev)

{8: 21, 5: 16, 7: 29, 13: 10, 4: 14, 9: 24, 6: 24, 11: 11, 3: 3, 12: 10, 10: 20, 1: 3, 14: 2, 2: 3, 15: 1}

Conflict Score Mean is  7.848167539267016

Conflict Score SD is  2.858594482239152

In [175]:
conflict_rate = []
for i in sum_conflict:
    if i < 6:
        conflict_rate.append("Most Conflict")
    elif i <= 12:
        conflict_rate.append("Moderate")
    else:
        conflict_rate.append("Least Conflict")

freq_conflict_rate = collections.Counter(conflict_rate)
print(dict(freq_conflict_rate))

{'Moderate': 139, 'Most Conflict': 39, 'Least Conflict': 13}

## Parent/Sibling Adult-Child Relationship

### Father Relationship

In [176]:
pacqf = pd.DataFrame(quanfin, columns = ['FNAG','FOPN','FCARE','FMANIP','FSEE','FHAPP','FDOM','FDEM','FRELY','FGUILTY','FCRIT','PMOF','FCRISIS']).dropna()
pacqf

,FNAG,FOPN,FCARE,FMANIP,FSEE,FHAPP,FDOM,FDEM,FRELY,FGUILTY,FCRIT,PMOF,FCRISIS
0,0.0,0.0,2.0,2.0,0.0,0.0,2.0,0.0,0.0,2.0,2.0,1.0,1.0
1,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0
2,2.0,1.0,3.0,2.0,1.0,3.0,1.0,1.0,0.0,3.0,2.0,1.0,1.0
3,2.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0
4,3.0,1.0,3.0,3.0,1.0,2.0,3.0,3.0,1.0,2.0,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,1.0,1.0,1.0,2.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0
185,3.0,0.0,2.0,3.0,1.0,1.0,2.0,2.0,0.0,2.0,2.0,1.0,1.0
186,1.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0
189,3.0,1.0,2.0,3.0,0.0,3.0,3.0,2.0,0.0,2.0,0.0,1.0,1.0
190,3.0,0.0,2.0,3.0,0.0,1.0,3.0,3.0,0.0,0.0,1.0,0.0,2.0

In [177]:
fnag = pd.crosstab(index = pacqf['FNAG'], columns = 'count')
fopn = pd.crosstab(index = pacqf['FOPN'], columns = 'count')
fcare = pd.crosstab(index = pacqf['FCARE'], columns = 'count')
fmanip = pd.crosstab(index = pacqf['FMANIP'], columns = 'count')
fsee = pd.crosstab(index = pacqf['FSEE'], columns = 'count')
fhapp = pd.crosstab(index = pacqf['FHAPP'], columns = 'count')
fdom = pd.crosstab(index = pacqf['FDOM'], columns = 'count')
fdem = pd.crosstab(index = pacqf['FDEM'], columns = 'count')
frely = pd.crosstab(index = pacqf['FRELY'], columns = 'count')
fguilty = pd.crosstab(index = pacqf['FGUILTY'], columns = 'count')
fcrit = pd.crosstab(index = pacqf['FCRIT'], columns = 'count')
pmof = pd.crosstab(index = pacqf['PMOF'], columns = 'count')
fcrisis = pd.crosstab(index = pacqf['FCRISIS'], columns = 'count')

print(fnag,fopn,fcare,fmanip,fsee,fhapp,fdom,fdem,frely,fguilty,fcrit,pmof,fcrisis)

col_0  count
FNAG
0.0       35
1.0       60
2.0       58
3.0       28 col_0  count
FOPN
0.0       42
1.0      115
2.0       20
3.0        4 col_0  count
FCARE
0.0       19
1.0       48
2.0       71
3.0       43 col_0   count
FMANIP
0.0        18
1.0        25
2.0        76
3.0        62 col_0  count
FSEE
0.0       56
1.0       98
2.0       20
3.0        7 col_0  count
FHAPP
0.0       20
1.0       71
2.0       64
3.0       26 col_0  count
FDOM
0.0       18
1.0       27
2.0       81
3.0       55 col_0  count
FDEM
0.0       15
1.0       32
2.0       85
3.0       49 col_0  count
FRELY
0.0       99
1.0       60
2.0       15
3.0        7 col_0    count
FGUILTY
0.0         24
1.0         51
2.0         75
3.0         31 col_0  count
FCRIT
0.0       40
1.0       56
2.0       67
3.0       18 col_0  count
PMOF
0.0       32
1.0       97
2.0       38
3.0       14 col_0    count
FCRISIS
0.0         19
1.0         75
2.0         64
3.0         23

### Mean and Standard Deviation per Question

In [178]:
fnag_sd = stat.stdev(pacqf['FNAG'].dropna())
fopn_sd = stat.stdev(pacqf['FOPN'].dropna())
fcare_sd = stat.stdev(pacqf['FCARE'].dropna())
fmanip_sd = stat.stdev(pacqf['FMANIP'].dropna())
fsee_sd = stat.stdev(pacqf['FSEE'].dropna())
fhapp_sd = stat.stdev(pacqf['FHAPP'].dropna())
fdom_sd = stat.stdev(pacqf['FDOM'].dropna())
fdem_sd = stat.stdev(pacqf['FDEM'].dropna())
frely_sd = stat.stdev(pacqf['FRELY'].dropna())
fguilty_sd = stat.stdev(pacqf['FGUILTY'].dropna())
fcrit_sd = stat.stdev(pacqf['FCRIT'].dropna())
pmof_sd = stat.stdev(pacqf['PMOF'].dropna())
fcrisis_sd = stat.stdev(pacqf['FCRISIS'].dropna())


print("SD of FNAG:", fnag_sd)
print("SD of FOPN:", fopn_sd)
print("SD of FCARE:", fcare_sd)
print("SD of FMANIP:", fmanip_sd)
print("SD of FSEE:", fsee_sd)
print("SD of FHAPP:", fhapp_sd)
print("SD of FDOM:", fdom_sd)
print("SD of FDEM:", fdem_sd)
print("SD of FRELY:", frely_sd)
print("SD of FGUILTY:", fguilty_sd)
print("SD of FCRIT:", fcrit_sd)
print("SD of PMOF:", pmof_sd)
print("SD of FCRISIS:", fcrisis_sd)

SD of FNAG: 0.9733086098931217
SD of FOPN: 0.6536951679653445
SD of FCARE: 0.9332872916820544
SD of FMANIP: 0.9398418162947586
SD of FSEE: 0.7502813059514142
SD of FHAPP: 0.8726806496466212
SD of FDOM: 0.9238999730603927
SD of FDEM: 0.8821258991226865
SD of FRELY: 0.7990556120111767
SD of FGUILTY: 0.9203050178972463
SD of FCRIT: 0.9341419806563427
SD of PMOF: 0.8151798018041728
SD of FCRISIS: 0.8473770601900195

In [179]:
fnag_mean = stat.mean(pacqf['FNAG'].dropna())
fopn_mean = stat.mean(pacqf['FOPN'].dropna())
fcare_mean = stat.mean(pacqf['FCARE'].dropna())
fmanip_mean = stat.mean(pacqf['FMANIP'].dropna())
fsee_mean = stat.mean(pacqf['FSEE'].dropna())
fhapp_mean = stat.mean(pacqf['FHAPP'].dropna())
fdom_mean = stat.mean(pacqf['FDOM'].dropna())
fdem_mean = stat.mean(pacqf['FDEM'].dropna())
frely_mean = stat.mean(pacqf['FRELY'].dropna())
fguilty_mean = stat.mean(pacqf['FGUILTY'].dropna())
fcrit_mean = stat.mean(pacqf['FCRIT'].dropna())
pmof_mean = stat.mean(pacqf['PMOF'].dropna())
fcrisis_mean = stat.mean(pacqf['FCRISIS'].dropna())


print("Mean of FNAG:", fnag_mean)
print("Mean of FOPN:", fopn_mean)
print("Mean of FCARE:", fcare_mean)
print("Mean of FMANIP:", fmanip_mean)
print("Mean of FSEE:", fsee_mean)
print("Mean of FHAPP:", fhapp_mean)
print("Mean of FDOM:", fdom_mean)
print("Mean of FDEM:", fdem_mean)
print("Mean of FRELY:", frely_mean)
print("Mean of FGUILTY:", fguilty_mean)
print("Mean of FCRIT:", fcrit_mean)
print("Mean of PMOF:", pmof_mean)
print("Mean of FCRISIS:", fcrisis_mean)

Mean of FNAG: 1.4364640883977902
Mean of FOPN: 0.9226519337016574
Mean of FCARE: 1.7624309392265194
Mean of FMANIP: 2.005524861878453
Mean of FSEE: 0.8784530386740331
Mean of FHAPP: 1.5303867403314917
Mean of FDOM: 1.9558011049723756
Mean of FDEM: 1.9281767955801106
Mean of FRELY: 0.6132596685082873
Mean of FGUILTY: 1.6243093922651934
Mean of FCRIT: 1.3480662983425415
Mean of PMOF: 1.1878453038674033
Mean of FCRISIS: 1.5027624309392265

In [180]:
pacfq_interpretation = [fnag_mean, fopn_mean, fcare_mean, fmanip_mean, fsee_mean,
                           fhapp_mean, fdom_mean,fdem_mean, frely_mean, fguilty_mean,
                           fcrit_mean, pmof_mean, fcrisis_mean]

pacfq_score = []
for i in pacfq_interpretation:
    if i < 1:
        pacfq_score.append("Low")
    elif i <2: 
        pacfq_score.append("Moderate")
    else:
        pacfq_score.append("High")
print(pacfq_score)

['Moderate', 'Low', 'Moderate', 'High', 'Low', 'Moderate', 'Moderate', 'Moderate', 'Low', 'Moderate', 'Moderate', 'Moderate', 'Moderate']

#### Regard Scale

In [181]:
pacqf_regard = pd.DataFrame(quanfin, columns = ['FOPN','FSEE','PMOF','FRELY']).dropna()

In [182]:
sum_pacqf_regard = pacqf_regard.sum(axis=1)
sum_pacqf_regard_rate = collections.Counter(sum_pacqf_regard)
print(dict(sum_pacqf_regard_rate))

sum_pacqf_regard_mean = stat.mean(sum_pacqf_regard)
print()
print("Regard for Father Mean Score is", sum_pacqf_regard_mean)

sum_pacqf_regard_stdev = stat.stdev(sum_pacqf_regard)
print()
print("Regard for Father SD Score is", sum_pacqf_regard_stdev)

{1.0: 17, 7.0: 9, 3.0: 32, 6.0: 15, 5.0: 21, 8.0: 2, 4.0: 36, 0.0: 15, 2.0: 28, 12.0: 3, 9.0: 1, 10.0: 2}

Regard for Father Mean Score is 3.6022099447513813

Regard for Father SD Score is 2.34681713061909

In [183]:
pacqf_regard_rate = []
for i in sum_pacqf_regard:
    if i < 5:
        pacqf_regard_rate.append("Most Father Regard")
    elif i <= 10:
        pacqf_regard_rate.append("Moderate Father Regard")
    else:
        pacqf_regard_rate.append("Least Father Regard")
        
freq_pacqf_regard_rate = collections.Counter(pacqf_regard_rate)
print(dict(freq_pacqf_regard_rate))

{'Most Father Regard': 128, 'Moderate Father Regard': 50, 'Least Father Regard': 3}

#### Responsibility Scale

In [184]:
pacqf_respon = pd.DataFrame(quanfin, columns = ['FCARE','FHAPP','FGUILTY','FCRISIS']).dropna()

In [185]:
sum_pacqf_respon = pacqf_respon.sum(axis=1)
sum_pacqf_respon_rate = collections.Counter(sum_pacqf_respon)
print(dict(sum_pacqf_respon_rate))

sum_pacqf_respon_mean = stat.mean(sum_pacqf_respon)
print()
print("Responsibility for Father Mean Score is", sum_pacqf_respon_mean)

sum_pacqf_respon_stdev = stat.stdev(sum_pacqf_respon)
print()
print("Responsibility for Father SD Score is", sum_pacqf_respon_stdev)

{5.0: 23, 6.0: 35, 10.0: 7, 7.0: 27, 8.0: 27, 12.0: 4, 1.0: 3, 11.0: 6, 9.0: 15, 3.0: 14, 4.0: 15, 2.0: 4, 0.0: 1}

Responsibility for Father Mean Score is 6.419889502762431

Responsibility for Father SD Score is 2.3898958575521134

In [186]:
pacqf_respon_rate = []
for i in sum_pacqf_respon:
    if i < 5:
        pacqf_respon_rate.append("Most Father Responsibility")
    elif i <= 10:
        pacqf_respon_rate.append("Moderate Father Responsibility")
    else:
        pacqf_respon_rate.append("Least Father Responsibility")
        
freq_pacqf_respon_rate = collections.Counter(pacqf_respon_rate)
print(dict(freq_pacqf_respon_rate))

{'Moderate Father Responsibility': 134, 'Least Father Responsibility': 10, 'Most Father Responsibility': 37}

#### Control Scale

In [187]:
pacqf_control = pd.DataFrame(quanfin, columns = ['FNAG','FMANIP','FDOM','FDEM','FCRIT']).dropna()

In [188]:
sum_pacqf_control = pacqf_control.sum(axis=1)
sum_pacqf_control_rate = collections.Counter(sum_pacqf_control)
print(dict(sum_pacqf_control_rate))

sum_pacqf_control_mean = stat.mean(sum_pacqf_control)
print()
print("Father Control Mean Score is", sum_pacqf_control_mean)

sum_pacqf_control_stdev = stat.stdev(sum_pacqf_control)
print()
print("Father Control SD Score is", sum_pacqf_control_stdev)

{6.0: 10, 9.0: 18, 8.0: 18, 13.0: 16, 7.0: 16, 12.0: 6, 4.0: 7, 11.0: 21, 3.0: 6, 10.0: 32, 2.0: 6, 1.0: 3, 15.0: 7, 14.0: 5, 5.0: 5, 0.0: 5}

Father Control Mean Score is 8.67403314917127

Father Control SD Score is 3.5883824549982783

In [189]:
pacqf_control_rate = []
for i in sum_pacqf_control:
    if i < 6:
        pacqf_control_rate.append("Most Father Control")
    elif i <= 12:
        pacqf_control_rate.append("Moderate Father Control")
    else:
        pacqf_control_rate.append("Least Father Control")

freq_pacqf_control_rate = collections.Counter(pacqf_control_rate)
print(dict(freq_pacqf_control_rate))

{'Moderate Father Control': 121, 'Least Father Control': 28, 'Most Father Control': 32}

### Mother Relationship

In [190]:
pacqm = pd.DataFrame(quanfin, columns = ['MSEE', 'MHAPP','MCARE','MBF','MBURDEN','MAPPREC','MRELY','MCRISIS','MOPN','MPROTECT','MTOO','MREPAY'])
pacqm

,MSEE,MHAPP,MCARE,MBF,MBURDEN,MAPPREC,MRELY,MCRISIS,MOPN,MPROTECT,MTOO,MREPAY
0,0.0,0.0,1.0,2.0,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0
1,0.0,2.0,1.0,1.0,1.0,0.0,1.0,1.0,2.0,2.0,2.0,1.0
2,0.0,0.0,1.0,0.0,2.0,1.0,2.0,3.0,1.0,0.0,2.0,0.0
3,1.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0
4,0.0,1.0,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
186,1.0,2.0,2.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,2.0,0.0
187,0.0,0.0,0.0,0.0,2.0,1.0,1.0,2.0,1.0,0.0,1.0,0.0
188,0.0,1.0,1.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,3.0,0.0
189,0.0,3.0,0.0,3.0,3.0,0.0,3.0,1.0,1.0,0.0,3.0,0.0
190,0.0,0.0,0.0,1.0,3.0,1.0,2.0,2.0,0.0,0.0,2.0,0.0

In [191]:
mburden = pd.crosstab(index = pacqm['MBURDEN'], columns = 'count')
mbf = pd.crosstab(index = pacqm['MBF'], columns = 'count')
mcare = pd.crosstab(index = pacqm['MCARE'], columns = 'count')
mopn = pd.crosstab(index = pacqm['MOPN'], columns = 'count')
msee = pd.crosstab(index = pacqm['MSEE'], columns = 'count')
mhapp = pd.crosstab(index = pacqm['MHAPP'], columns = 'count')
mprotect = pd.crosstab(index = pacqm['MPROTECT'], columns = 'count')
mtoo = pd.crosstab(index = pacqm['MTOO'], columns = 'count')
mrely = pd.crosstab(index = pacqm['MRELY'], columns = 'count')
mapprec = pd.crosstab(index = pacqm['MAPPREC'], columns = 'count')
mrepay = pd.crosstab(index = pacqm['MREPAY'], columns = 'count')
mcrisis = pd.crosstab(index = pacqm['MCRISIS'], columns = 'count')
mrepay

col_0   count
MREPAY
0.0        94
1.0        80
2.0         7
3.0         3

### Mean and Standard Deviation per Question

In [192]:
mburden_sd = stat.stdev(pacqm['MBURDEN'].dropna())
mbf_sd = stat.stdev(pacqm['MBF'].dropna())
mcare_sd = stat.stdev(pacqm['MCARE'].dropna())
mopn_sd = stat.stdev(pacqm['MOPN'].dropna())
msee_sd = stat.stdev(pacqm['MSEE'].dropna())
mhapp_sd = stat.stdev(pacqm['MHAPP'].dropna())
mprotect_sd = stat.stdev(pacqm['MPROTECT'].dropna())
mtoo_sd = stat.stdev(pacqm['MTOO'].dropna())
mrely_sd = stat.stdev(pacqm['MRELY'].dropna())
mapprec_sd = stat.stdev(pacqm['MAPPREC'].dropna())
mrepay_sd = stat.stdev(pacqm['MREPAY'].dropna())
mcrisis_sd = stat.stdev(pacqm['MCRISIS'].dropna())


print("stdev of MBURDEN:", mburden_sd)
print("stdev of MBF:", mbf_sd)
print("stdev of MCARE:", mcare_sd)
print("stdev of MOPN:", mopn_sd)
print("stdev of MSEE:", msee_sd)
print("stdev of MHAPP:", mhapp_sd)
print("stdev of MPROTECT:", mprotect_sd)
print("stdev of MTOO:", mtoo_sd)
print("stdev of MRELY:", mrely_sd)
print("stdev of MAPPREC:", mapprec_sd)
print("stdev of MREPAY:", mrepay_sd)
print("stdev of MCRISIS:", mcrisis_sd)

stdev of MBURDEN: 0.8923894848298192
stdev of MBF: 0.884920260759191
stdev of MCARE: 0.8331848287730642
stdev of MOPN: 0.6710771191757374
stdev of MSEE: 0.6610897646181417
stdev of MHAPP: 0.8516576432280226
stdev of MPROTECT: 0.7471335895391961
stdev of MTOO: 0.8235767654108451
stdev of MRELY: 0.8851216001711686
stdev of MAPPREC: 0.7397835081083451
stdev of MREPAY: 0.6501046208546325
stdev of MCRISIS: 0.8484434338212495

In [193]:
mburden_mean = stat.mean(pacqm['MBURDEN'].dropna())
mbf_mean = stat.mean(pacqm['MBF'].dropna())
mcare_mean = stat.mean(pacqm['MCARE'].dropna())
mopn_mean = stat.mean(pacqm['MOPN'].dropna())
msee_mean = stat.mean(pacqm['MSEE'].dropna())
mhapp_mean = stat.mean(pacqm['MHAPP'].dropna())
mprotect_mean = stat.mean(pacqm['MPROTECT'].dropna())
mtoo_mean = stat.mean(pacqm['MTOO'].dropna())
mrely_mean = stat.mean(pacqm['MRELY'].dropna())
mapprec_mean = stat.mean(pacqm['MAPPREC'].dropna())
mrepay_mean = stat.mean(pacqm['MREPAY'].dropna())
mcrisis_mean = stat.mean(pacqm['MCRISIS'].dropna())


print("Mean of MBURDEN:", mburden_mean)
print("Mean of MBF:", mbf_mean)
print("Mean of MCARE:", mcare_mean)
print("Mean of MOPEN:", mopn_mean)
print("Mean of MSEE:", msee_mean)
print("Mean of MHAPP:", mhapp_mean)
print("Mean of MPROTECT:", mprotect_mean)
print("Mean of MTOO:", mtoo_mean)
print("Mean of MRELY:", mrely_mean)
print("Mean of MAPPREC:", mapprec_mean)
print("Mean of MREPAY:", mrepay_mean)
print("Mean of MCRISIS:", mcrisis_mean)

Mean of MBURDEN: 1.7119565217391304
Mean of MBF: 1.2173913043478262
Mean of MCARE: 0.8967391304347826
Mean of MOPEN: 0.7282608695652174
Mean of MSEE: 0.5108695652173914
Mean of MHAPP: 1.0380434782608696
Mean of MPROTECT: 0.7065217391304348
Mean of MTOO: 1.875
Mean of MRELY: 1.8804347826086956
Mean of MAPPREC: 0.7065217391304348
Mean of MREPAY: 0.5597826086956522
Mean of MCRISIS: 1.2880434782608696

In [194]:
pacqm_interpretation = [mburden_mean, mbf_mean, mcare_mean, mopn_mean, msee_mean,
                           mhapp_mean, mprotect_mean, mtoo_mean, mrely_mean, mapprec_mean,
                           mrepay_mean, mcrisis_mean]

pacqm_score = []
for i in pacqm_interpretation:
    if i < 1:
        pacqm_score.append("Low")
    elif i <2: 
        pacqm_score.append("Moderate")
    else:
        pacqm_score.append("High")
print(pacqm_score)

['Moderate', 'Moderate', 'Low', 'Low', 'Low', 'Moderate', 'Low', 'Moderate', 'Moderate', 'Low', 'Low', 'Moderate']

#### Regard Scale

In [195]:
pacqm_regard = pd.DataFrame(quanfin, columns = ['MSEE','MBF','MAPPREC','MOPN','MREPAY']).dropna()

In [196]:
sum_pacqm_regard = pacqm_regard.sum(axis=1)
sum_pacqm_regard_rate = collections.Counter(sum_pacqm_regard)
print(dict(sum_pacqm_regard_rate))

sum_pacqm_regard_mean = stat.mean(sum_pacqm_regard)
print()
print("Regard for Mother Mean Score ", sum_pacqm_regard_mean)

sum_pacqm_regard_stdev = stat.stdev(sum_pacqm_regard)
print()
print("Regard for Mother SD Score ", sum_pacqm_regard_stdev)

{3.0: 16, 4.0: 36, 2.0: 25, 6.0: 14, 1.0: 21, 5.0: 22, 7.0: 11, 0.0: 23, 10.0: 2, 8.0: 7, 11.0: 3, 12.0: 2, 9.0: 2}

Regard for Mother Mean Score  3.722826086956522

Regard for Mother SD Score  2.7109010161412668

In [197]:
pacqm_regard_rate = []
for i in sum_pacqm_regard:
    if i < 5:
        pacqm_regard_rate.append("Most Mother Regard")
    elif i <= 10:
        pacqm_regard_rate.append("Moderate Mother Regard")
    else:
        pacqm_regard_rate.append("Least Mother Regard")

freq_pacqm_regard_rate = collections.Counter(pacqm_regard_rate)
print(dict(freq_pacqm_regard_rate))

{'Most Mother Regard': 121, 'Moderate Mother Regard': 58, 'Least Mother Regard': 5}

#### Responsibility Scale

In [198]:
pacqm_respon = pd.DataFrame(quanfin, columns = ['MHAPP','MCARE','MBURDEN','MRELY','MCRISIS','MPROTECT','MREPAY']).dropna()

In [199]:
sum_pacqm_respon = pacqm_respon.sum(axis=1)
sum_pacqm_respon_rate = collections.Counter(sum_pacqm_respon)
print(dict(sum_pacqm_respon_rate))

sum_pacqm_respon_mean = stat.mean(sum_pacqm_respon)
print()
print("Responsibility for Mother Mean Score ", sum_pacqm_respon_mean)

sum_pacqm_respon_stdev = stat.stdev(sum_pacqm_respon)
print()
print("Responsibility for Mother SD Score ", sum_pacqm_respon_stdev)

{4.0: 18, 9.0: 23, 8.0: 18, 11.0: 12, 5.0: 11, 2.0: 6, 10.0: 24, 12.0: 11, 6.0: 19, 13.0: 8, 7.0: 14, 14.0: 4, 1.0: 4, 16.0: 2, 3.0: 6, 18.0: 1, 17.0: 2, 15.0: 1}

Responsibility for Mother Mean Score  8.081521739130435

Responsibility for Mother SD Score  3.4859414561335367

In [200]:
pacqm_respon_rate = []
for i in sum_pacqm_respon:
    if i < 7:
        pacqm_respon_rate.append("Most Mother Responsibility")
    elif i <= 14:
        pacqm_respon_rate.append("Moderate Mother Responsibility")
    else:
        pacqm_respon_rate.append("Least Mother Responsibility") 

freq_pacqm_respon_rate = collections.Counter(pacqm_respon_rate)
print(dict(freq_pacqm_respon_rate))

{'Most Mother Responsibility': 64, 'Moderate Mother Responsibility': 114, 'Least Mother Responsibility': 6}

### Sibling Relationship

In [201]:
pacqs = pd.DataFrame(quanfin, columns = ['SNAG','SOPN','SRESPON','SMANIP','SSEE','SHAPP','SDOM','SDEM','SRELY','SGUILTY','SCRIT','PMOS','SCRISIS ','SBF']).dropna()
pacqs

,SNAG,SOPN,SRESPON,SMANIP,SSEE,SHAPP,SDOM,SDEM,SRELY,SGUILTY,SCRIT,PMOS,SCRISIS,SBF
0,2.0,1.0,1.0,2.0,1.0,2.0,3.0,2.0,0.0,2.0,1.0,0.0,0.0,2.0
1,2.0,1.0,0.0,2.0,0.0,1.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,0.0
3,2.0,1.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0
4,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
5,3.0,1.0,3.0,1.0,2.0,3.0,2.0,3.0,1.0,2.0,2.0,2.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,2.0,1.0,0.0,3.0,0.0,1.0,2.0,1.0,2.0,1.0,2.0,0.0,2.0,0.0
185,2.0,1.0,0.0,3.0,0.0,1.0,2.0,3.0,0.0,1.0,1.0,1.0,1.0,0.0
188,2.0,0.0,1.0,3.0,0.0,1.0,3.0,3.0,0.0,3.0,0.0,0.0,0.0,0.0
189,3.0,0.0,3.0,3.0,1.0,3.0,3.0,3.0,0.0,3.0,0.0,0.0,0.0,0.0
190,1.0,0.0,1.0,3.0,0.0,1.0,1.0,3.0,0.0,2.0,2.0,0.0,0.0,0.0

In [202]:
snag = pd.crosstab(index = pacqs['SNAG'], columns = 'count')
sopn = pd.crosstab(index = pacqs['SOPN'], columns = 'count')
srespon = pd.crosstab(index = pacqs['SRESPON'], columns = 'count')
smanip = pd.crosstab(index = pacqs['SMANIP'], columns = 'count')
ssee = pd.crosstab(index = pacqs['SSEE'], columns = 'count')
shapp = pd.crosstab(index = pacqs['SHAPP'], columns = 'count')
sdom = pd.crosstab(index = pacqs['SDOM'], columns = 'count')
sdem = pd.crosstab(index = pacqs['SDEM'], columns = 'count')
srely = pd.crosstab(index = pacqs['SRELY'], columns = 'count')
sguilty = pd.crosstab(index = pacqs['SGUILTY'], columns = 'count')
scrit = pd.crosstab(index = pacqs['SCRIT'], columns = 'count')
pmos = pd.crosstab(index = pacqs['PMOS'], columns = 'count')
scrisis = pd.crosstab(index = pacqs['SCRISIS '], columns = 'count')
sbf = pd.crosstab(index = pacqs['SBF'], columns = 'count')

### Mean and Standard Deviation per Question

In [203]:
snag_stdev = stat.stdev(pacqs['SNAG'].dropna())
sopn_stdev = stat.stdev(pacqs['SOPN'].dropna())
srespon_stdev = stat.stdev(pacqs['SRESPON'].dropna())
smanip_stdev = stat.stdev(pacqs['SMANIP'].dropna())
ssee_stdev = stat.stdev(pacqs['SSEE'].dropna())
shapp_stdev = stat.stdev(pacqs['SHAPP'].dropna())
sdom_stdev = stat.stdev(pacqs['SDOM'].dropna())
sdem_stdev = stat.stdev(pacqs['SDEM'].dropna())
srely_stdev = stat.stdev(pacqs['SRELY'].dropna())
sguilty_stdev = stat.stdev(pacqs['SGUILTY'].dropna())
scrit_stdev = stat.stdev(pacqs['SCRIT'].dropna())
pmos_stdev = stat.stdev(pacqs['PMOS'].dropna())
scrisis_stdev = stat.stdev(pacqs['SCRISIS '].dropna())
sbf_stdev = stat.stdev(pacqs['SBF'].dropna())


print("stdev of SNAG:", snag_stdev)
print("stdev of SOPN:", sopn_stdev)
print("stdev of SRESPON:", srespon_stdev)
print("stdev of SMANIP:", smanip_stdev)
print("stdev of SSEE:", ssee_stdev)
print("stdev of SHAPP:", shapp_stdev)
print("stdev of SDOM:", sdom_stdev)
print("stdev of SDEM:", sdem_stdev)
print("stdev of SRELY:", srely_stdev)
print("stdev of SGUILTY:", sguilty_stdev)
print("stdev of SCRIT:", scrit_stdev)
print("stdev of PMOS:", pmos_stdev)
print("stdev of SCRISIS:", scrisis_stdev)
print("stdev of SBF:", sbf_stdev)

stdev of SNAG: 0.9682057427264348
stdev of SOPN: 0.6337431930858183
stdev of SRESPON: 0.9313384477985573
stdev of SMANIP: 0.9473729613780998
stdev of SSEE: 0.7599750731446672
stdev of SHAPP: 0.9019905523461647
stdev of SDOM: 0.9052126478834677
stdev of SDEM: 0.9740419723888469
stdev of SRELY: 0.8364744114399368
stdev of SGUILTY: 0.9391006005153009
stdev of SCRIT: 0.9091921880343059
stdev of PMOS: 0.778745208254203
stdev of SCRISIS: 0.9246033226999707
stdev of SBF: 0.8983248731053547

In [204]:
snag_mean = stat.mean(pacqs['SNAG'].dropna())
sopn_mean = stat.mean(pacqs['SOPN'].dropna())
srespon_mean = stat.mean(pacqs['SRESPON'].dropna())
smanip_mean = stat.mean(pacqs['SMANIP'].dropna())
ssee_mean = stat.mean(pacqs['SSEE'].dropna())
shapp_mean = stat.mean(pacqs['SHAPP'].dropna())
sdom_mean = stat.mean(pacqs['SDOM'].dropna())
sdem_mean = stat.mean(pacqs['SDEM'].dropna())
srely_mean = stat.mean(pacqs['SRELY'].dropna())
sguilty_mean = stat.mean(pacqs['SGUILTY'].dropna())
scrit_mean = stat.mean(pacqs['SCRIT'].dropna())
pmos_mean = stat.mean(pacqs['PMOS'].dropna())
scrisis_mean = stat.mean(pacqs['SCRISIS '].dropna())
sbf_mean = stat.mean(pacqs['SBF'].dropna())


print("Mean of SNAG:", snag_mean)
print("Mean of SOPN:", sopn_mean)
print("Mean of SRESPON:", srespon_mean)
print("Mean of SMANIP:", smanip_mean)
print("Mean of SSEE:", ssee_mean)
print("Mean of SHAPP:", shapp_mean)
print("Mean of SDOM:", sdom_mean)
print("Mean of SDEM:", sdem_mean)
print("Mean of SRELY:", srely_mean)
print("Mean of SGUILTY:", sguilty_mean)
print("Mean of SCRIT:", scrit_mean)
print("Mean of PMOS:", pmos_mean)
print("Mean of SCRISIS:", scrisis_mean)
print("Mean of SBF:", sbf_mean)

Mean of SNAG: 1.5403726708074534
Mean of SOPN: 0.8695652173913043
Mean of SRESPON: 1.0869565217391304
Mean of SMANIP: 2.049689440993789
Mean of SSEE: 0.8136645962732919
Mean of SHAPP: 1.5217391304347827
Mean of SDOM: 2.0745341614906834
Mean of SDEM: 1.5527950310559007
Mean of SRELY: 0.9192546583850931
Mean of SGUILTY: 1.639751552795031
Mean of SCRIT: 1.1304347826086956
Mean of PMOS: 0.8074534161490683
Mean of SCRISIS: 1.0869565217391304
Mean of SBF: 1.15527950310559

In [205]:
pacqs_interpretation = [snag_mean, sopn_mean, srespon_mean, smanip_mean, ssee_mean,
                           shapp_mean, sdom_mean, sdem_mean, srely_mean, sguilty_mean,
                           scrit_mean, pmos_mean, scrisis_mean, sbf_mean]

pacqs_score = []
for i in pacqs_interpretation:
    if i < 1:
        pacqs_score.append("Low")
    elif i <2: 
        pacqs_score.append("Moderate")
    else:
        pacqs_score.append("High")
print(pacqs_score)

['Moderate', 'Low', 'Moderate', 'High', 'Low', 'Moderate', 'High', 'Moderate', 'Low', 'Moderate', 'Moderate', 'Low', 'Moderate', 'Moderate']

#### Regard Scale

In [206]:
pacqs_regard = pd.DataFrame(quanfin, columns = ['SOPN','SSEE','PMOS','SRELY','SBF']).dropna()

In [207]:
sum_pacqs_regard = pacqs_regard.sum(axis=1)
sum_pacqs_regard_rate = collections.Counter(sum_pacqs_regard)
print(dict(sum_pacqs_regard_rate))

sum_pacqs_regard_mean = stat.mean(sum_pacqs_regard)
print()
print("Regard for Siblings Mean Score ", sum_pacqs_regard_mean)

sum_pacqs_regard_stdev = stat.stdev(sum_pacqs_regard)
print()
print("Regard for Siblings SD Score ", sum_pacqs_regard_stdev)

{4.0: 26, 2.0: 10, 7.0: 13, 5.0: 24, 9.0: 5, 1.0: 11, 6.0: 19, 0.0: 17, 8.0: 6, 14.0: 3, 3.0: 20, 11.0: 2, 10.0: 3, 13.0: 1, 15.0: 1}

Regard for Siblings Mean Score  4.565217391304348

Regard for Siblings SD Score  3.0878443303857877

In [208]:
pacqs_regard_rate = []
for i in sum_pacqs_regard:
    if i == 0:
        pacqs_regard_rate.append("Only Child")
    elif i < 6:
        pacqs_regard_rate.append("Most Sibling Regard")
    elif i <= 12:
        pacqs_regard_rate.append("Moderate Sibling Regard")
    else:
        pacqs_regard_rate.append("Least Sibling Regard") 

freq_pacqs_regard_rate = collections.Counter(pacqs_regard_rate)
print(dict(freq_pacqs_regard_rate))

{'Most Sibling Regard': 91, 'Moderate Sibling Regard': 48, 'Only Child': 17, 'Least Sibling Regard': 5}

#### Responsibility Scale

In [209]:
pacqs_respon = pd.DataFrame(quanfin, columns = ['SRESPON','SHAPP','SGUILTY','SCRISIS ']).dropna()

In [210]:
sum_pacqs_respon = pacqs_respon.sum(axis=1)
sum_pacqs_respon_rate = collections.Counter(sum_pacqs_respon)
print(dict(sum_pacqs_respon_rate))

sum_pacqs_respon_mean = stat.mean(sum_pacqs_respon)
print()
print("Responsibility for Siblings Mean Score ", sum_pacqs_respon_mean)

sum_pacqs_respon_stdev = stat.stdev(sum_pacqs_respon)
print()
print("Responsibility for Siblings SD Score ", sum_pacqs_respon_stdev)

{5.0: 22, 4.0: 20, 3.0: 12, 8.0: 17, 7.0: 24, 6.0: 29, 0.0: 8, 2.0: 15, 12.0: 3, 10.0: 2, 9.0: 5, 1.0: 2, 11.0: 2}

Responsibility for Siblings Mean Score  5.3354037267080745

Responsibility for Siblings SD Score  2.554271176331132

In [211]:
pacqs_respon_rate = []
for i in sum_pacqs_respon:
    if i == 0:
        pacqs_respon_rate.append("Only Child")
    elif i < 6:
        pacqs_respon_rate.append("Most Sibling Responsibility")
    elif i <= 12:
        pacqs_respon_rate.append("Moderate Sibling Responsibility")
    else:
        pacqs_respon_rate.append("Least Sibling Responsibility") 

freq_pacqs_respon_rate = collections.Counter(pacqs_respon_rate)
print(dict(freq_pacqs_respon_rate))

{'Most Sibling Responsibility': 71, 'Moderate Sibling Responsibility': 82, 'Only Child': 8}

#### Control Scale

In [212]:
pacqs_control = pd.DataFrame(quanfin, columns = ['SNAG','SMANIP','SDOM','SDEM','SCRIT']).dropna()

In [213]:
sum_pacqs_control = pacqs_control.sum(axis=1)
sum_pacqs_control_rate = collections.Counter(sum_pacqs_control)
print(dict(sum_pacqs_control_rate))

sum_pacqs_control_mean = stat.mean(sum_pacqs_control)
print()
print("Sibling Control Mean Score ", sum_pacqs_control_mean)

sum_pacqs_control_stdev = stat.stdev(sum_pacqs_control)
print()
print("Sibling Control SD Score ", sum_pacqs_control_stdev)

{10.0: 18, 8.0: 27, 5.0: 12, 11.0: 16, 7.0: 17, 4.0: 4, 6.0: 12, 12.0: 19, 3.0: 9, 9.0: 20, 13.0: 4, 2.0: 2, 14.0: 1}

Sibling Control Mean Score  8.347826086956522

Sibling Control SD Score  2.7277758099897467

In [214]:
pacqs_control_rate = []
for i in sum_pacqs_control:
    if i == 0:
        pacqs_control_rate.append("Only Child")
    elif i < 6:
        pacqs_control_rate.append("Most Sibling Control")
    elif i <= 12:
        pacqs_control_rate.append("Moderate Sibling Control")
    else:
        pacqs_control_rate.append("Least Sibling Control")

freq_pacqs_control_rate = collections.Counter(pacqs_control_rate)
print(dict(freq_pacqs_control_rate))

{'Moderate Sibling Control': 129, 'Most Sibling Control': 27, 'Least Sibling Control': 5}

## Warwick-Edinburgh Mental Well-Being Scale

In [215]:
wemwebs = pd.DataFrame(quanfin, columns = ['FEELIOP','FEELUSE','FEELAX','FEELINT',
                                           'FENERGY','FEEPROB','FECLEAR','FEGOOD',
                                           'FECLOSE', 'FECONFI','FEMKEUP','FELOVED',
                                           'FENWTHG','FECHEER'])
wemwebs

,FEELIOP,FEELUSE,FEELAX,FEELINT,FENERGY,FEEPROB,FECLEAR,FEGOOD,FECLOSE,FECONFI,FEMKEUP,FELOVED,FENWTHG,FECHEER
0,1,3,5,3,5,4,5,5,5,5,5,5,5,5
1,3,4,4,3,3,3,3,3,5,3,3,4,3,3
2,4,4,4,4,3,3,3,3,4,3,4,5,4,4
3,2,2,2,4,2,4,3,3,3,3,4,3,4,2
4,3,4,4,4,3,4,4,3,4,3,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,4,4,4,3,4,2,3,3,4,4,5,4,4,4
187,4,3,3,3,3,3,3,3,3,3,3,4,3,3
188,5,5,3,4,3,3,4,4,5,5,4,5,5,5
189,4,5,2,2,1,4,3,4,5,5,5,5,5,3
190,4,4,2,4,2,2,2,5,4,4,4,2,4,2

In [216]:
feeliop = pd.crosstab(index = wemwebs['FEELIOP'], columns = 'count')
feeluse = pd.crosstab(index = wemwebs['FEELUSE'], columns = 'count')
feelax = pd.crosstab(index = wemwebs['FEELAX'], columns = 'count')
feelint = pd.crosstab(index = wemwebs['FEELINT'], columns = 'count')
fenergy = pd.crosstab(index = wemwebs['FENERGY'], columns = 'count')
feeprob = pd.crosstab(index = wemwebs['FEEPROB'], columns = 'count')
feclear = pd.crosstab(index = wemwebs['FECLEAR'], columns = 'count')
fegood = pd.crosstab(index = wemwebs['FEGOOD'], columns = 'count')
feclose = pd.crosstab(index = wemwebs['FECLOSE'], columns = 'count')
feconfi = pd.crosstab(index = wemwebs['FECONFI'], columns = 'count')
femkeup = pd.crosstab(index = wemwebs['FEMKEUP'], columns = 'count')
feloved = pd.crosstab(index = wemwebs['FELOVED'], columns = 'count')
fenwthg = pd.crosstab(index = wemwebs['FENWTHG'], columns = 'count')
fecheer = pd.crosstab(index = wemwebs['FECHEER'], columns = 'count')

### Mean and Standard Deviation per Question

In [217]:
feeliop_stdev = stat.stdev(wemwebs['FEELIOP'].dropna())
feeluse_stdev = stat.stdev(wemwebs['FEELUSE'].dropna())
feelax_stdev = stat.stdev(wemwebs['FEELAX'].dropna())
feelint_stdev = stat.stdev(wemwebs['FEELINT'].dropna())
fenergy_stdev = stat.stdev(wemwebs['FENERGY'].dropna())
feeprob_stdev = stat.stdev(wemwebs['FEEPROB'].dropna())
feclear_stdev = stat.stdev(wemwebs['FECLEAR'].dropna())
fegood_stdev = stat.stdev(wemwebs['FEGOOD'].dropna())
feclose_stdev = stat.stdev(wemwebs['FECLOSE'].dropna())
feconfi_stdev = stat.stdev(wemwebs['FECONFI'].dropna())
fmkeup_stdev = stat.stdev(wemwebs['FEMKEUP'].dropna())
feloved_stdev = stat.stdev(wemwebs['FELOVED'].dropna())
fenwthg_stdev = stat.stdev(wemwebs['FENWTHG'].dropna())
fecheer_stdev = stat.stdev(wemwebs['FECHEER'].dropna())


print("stdev of FEELIOP:", feeliop_stdev)
print("stdev of FEELUSE:", feeluse_stdev)
print("stdev of FEELAX:", feelax_stdev)
print("stdev of FEELINT:", feelint_stdev)
print("stdev of FENERGY:", fenergy_stdev)
print("stdev of FEEPROB:", feeprob_stdev)
print("stdev of FECLEAR:", feclear_stdev)
print("stdev of FEGOOD:", fegood_stdev)
print("stdev of FECLOSE:", feclose_stdev)
print("stdev of FCONFI:", feconfi_stdev)
print("stdev of FMKEUP:", fmkeup_stdev)
print("stdev of FELOVED:", feloved_stdev)
print("stdev of FENWTHG:", fenwthg_stdev)
print("stdev of FECHEER:", fecheer_stdev)

stdev of FEELIOP: 0.9249608066290944
stdev of FEELUSE: 0.9227834778145566
stdev of FEELAX: 1.0325642995917506
stdev of FEELINT: 0.9345928333356445
stdev of FENERGY: 0.9891948623062681
stdev of FEEPROB: 0.9828790636639497
stdev of FECLEAR: 0.8884302726762243
stdev of FEGOOD: 0.9674504223200721
stdev of FECLOSE: 0.897656236041482
stdev of FCONFI: 0.9014241205038713
stdev of FMKEUP: 0.9100946386551788
stdev of FELOVED: 0.9678206292801275
stdev of FENWTHG: 0.9783548875685188
stdev of FECHEER: 0.9277866650767221

In [218]:
feeliop_mean = stat.mean(wemwebs['FEELIOP'].dropna())
feeluse_mean = stat.mean(wemwebs['FEELUSE'].dropna())
feelax_mean = stat.mean(wemwebs['FEELAX'].dropna())
feelint_mean = stat.mean(wemwebs['FEELINT'].dropna())
fenergy_mean = stat.mean(wemwebs['FENERGY'].dropna())
feeprob_mean = stat.mean(wemwebs['FEEPROB'].dropna())
feclear_mean = stat.mean(wemwebs['FECLEAR'].dropna())
fegood_mean = stat.mean(wemwebs['FEGOOD'].dropna())
feclose_mean = stat.mean(wemwebs['FECLOSE'].dropna())
feconfi_mean = stat.mean(wemwebs['FECONFI'].dropna())
fmkeup_mean = stat.mean(wemwebs['FEMKEUP'].dropna())
feloved_mean = stat.mean(wemwebs['FELOVED'].dropna())
fenwthg_mean = stat.mean(wemwebs['FENWTHG'].dropna())
fecheer_mean = stat.mean(wemwebs['FECHEER'].dropna())


print("Mean of FEELIOP:", feeliop_mean)
print("Mean of FEELUSE:", feeluse_mean)
print("Mean of FEELAX:", feelax_mean)
print("Mean of FEELINT:", feelint_mean)
print("Mean of FENERGY:", fenergy_mean)
print("Mean of FEEPROB:", feeprob_mean)
print("Mean of FECLEAR:", feclear_mean)
print("Mean of FEGOOD:", fegood_mean)
print("Mean of FECLOSE:", feclose_mean)
print("Mean of FCONFI:", feconfi_mean)
print("Mean of FMKEUP:", fmkeup_mean)
print("Mean of FELOVED:", feloved_mean)
print("Mean of FENWTHG:", fenwthg_mean)
print("Mean of FECHEER:", fecheer_mean)

Mean of FEELIOP: 3.3350785340314135
Mean of FEELUSE: 3.356020942408377
Mean of FEELAX: 2.9528795811518322
Mean of FEELINT: 3.4031413612565444
Mean of FENERGY: 3.020942408376963
Mean of FEEPROB: 3.392670157068063
Mean of FECLEAR: 3.162303664921466
Mean of FEGOOD: 3.193717277486911
Mean of FECLOSE: 3.6178010471204187
Mean of FCONFI: 3.303664921465969
Mean of FMKEUP: 3.5445026178010473
Mean of FELOVED: 3.837696335078534
Mean of FENWTHG: 3.769633507853403
Mean of FECHEER: 3.392670157068063

In [219]:
wemwebs_interpretation = [feeliop_mean, feeluse_mean, feelax_mean, feelint_mean, fenergy_mean,
                           feeprob_mean, feclear_mean, fegood_mean, feclose_mean, feconfi_mean,
                           fmkeup_mean, feloved_mean, fenwthg_mean, fecheer_mean]

wemwebs_score = []
for i in wemwebs_interpretation:
    if i < 1:
        wemwebs_score.append("Ver Low")
    elif i <2: 
        wemwebs_score.append("Low")
    elif i <3: 
        wemwebs_score.append("Medium")
    elif i <4: 
        wemwebs_score.append("High")
    else:
        wemwebs_score.append("Very High")
print(wemwebs_score)

['High', 'High', 'Medium', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High']

In [220]:
sum_wemwebs = wemwebs.sum(axis=1)
sum_wemwebs_rate = collections.Counter(sum_wemwebs)
print(dict(sum_wemwebs_rate))

sum_wemwebs_mean = stat.mean(sum_wemwebs)
print()
print("Overall Mean WEMWEBS Score ", sum_wemwebs_mean)

sum_wemwebs_stdev = stat.stdev(sum_wemwebs)
print()
print("Overall SD WEMWEBS Score ", sum_wemwebs_stdev)

{61: 3, 47: 7, 52: 10, 41: 1, 39: 12, 51: 10, 48: 10, 63: 2, 50: 17, 33: 3, 49: 9, 31: 2, 59: 5, 42: 8, 27: 1, 54: 5, 45: 10, 46: 7, 53: 11, 43: 11, 32: 2, 65: 2, 40: 7, 38: 5, 22: 1, 35: 2, 37: 3, 36: 1, 64: 2, 56: 6, 44: 5, 29: 1, 60: 3, 68: 1, 58: 1, 70: 1, 55: 2, 34: 1, 30: 1}

Overall Mean WEMWEBS Score  47.282722513089006

Overall SD WEMWEBS Score  8.136575312259417

In [221]:
wemwebs_rate = []
for i in sum_wemwebs:
    if i < 43:
        wemwebs_rate.append("Low WEMWEBS")
    elif i <=60:
        wemwebs_rate.append("Moderate WEMWEBS")
    else:
        wemwebs_rate.append("High WEMWEBS")

freq_wemwebs_rate = collections.Counter(wemwebs_rate)
print(dict(freq_wemwebs_rate))

{'High WEMWEBS': 11, 'Moderate WEMWEBS': 129, 'Low WEMWEBS': 51}